<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/authors}" th:object="${author}" method="POST">
    <fieldset style="color:blue">
        <legend style="color:blue"><h2>Insert Author</h2></legend>
        ID:<br>
        <input type="text" name="id"><br>
        Name:<br>
        <input type="text" name="name"><br>
        Email:<br>
        <input type="text" name="email"><br>
        <input type="submit" value="Insert Author" style="color:blue;">
    </fieldset>
</form>

</body>
</html>