<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{'/authors/'+ ${author.id}}" th:object="${author}" th:method="PUT">
    <fieldset style="color:blue">
        <legend style="color:blue"><h2>Update Author</h2></legend>
        Name:<br>
        <input type="text" name="name" th:field="*{name}"><br>
        Email:<br>
        <input type="text" name="email" th:field="*{email}"><br>
        <input type="submit" value="Update Author" style="color:blue;">
    </fieldset>
</form>

</body>
</html>